.wrapper {
  display: flex;
}
.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.rNav {
  display: flex;
  align-items: center;
  margin-left: '200px';
}
